@font-face {
  font-family: 'Pompiere';
  src: url('public/fonts/Pompiere-Regular.ttf');
}
@font-face {
  font-family: 'Amsterdam';
  src: url('public/fonts/Amsterdam.ttf');
}
@font-face {
  font-family: 'Eyesome';
  src: url('public/fonts/Eyesome-Script.otf');
}


:root {
  --gray: #6b6b6b;
  --dark: #4b4b4b;
  --white: #fcfcfc;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --amsterdam: 'Amsterdam';
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

}

/* 
LO DE ABAJO HACE QUE EL CONTENIDO ENTRE EL HEADER Y EL FOOTER SE ESTIRE HASTA OCUPAR TODO EL VIEWPORT SI NO LLEGA A LLENARLO, POR ESO EN APP EL CONTENIDO DE LAS RUTAS ESTÁ ENVUELTO EN UN <MAIN> */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  /* #social .button-icon {
    filter: invert(1) brightness(2);
  } */
}

body {
  margin: 0;
}

